/* Some are borrowed from:
 * - https://github.com/cmcaine/tridactyl/blob/master/src/static/userChrome-minimal.css
 */

/* Kill tab bar */
#TabsToolbar { visibility: collapse; }
/* #tabbrowser-tabs { visibility: collapse !important; } */

/* Remove sidebar header */
/* #sidebar-header { display: none; } */
/* Hide "Tree Style Tabs" sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display:none;
}

/* Hide URL notifications that aren't particularly useful and cover up the command line
 * TODO: move it above the command line / bring functionality into status line like Vimperator */
statuspanel[type="overLink"]{display: none !important;}

/* Partial removal of black bottom 1px line shown in fullscreen mode */
#navigator-toolbox::after { display: none !important; }

/* remove window decorations (Close, Minimize, Fullscreen) */

 /* One of these are the troublemaker ? TODO */
/* #titlebar { display: none !important; }
#TabsToolbar .titlebar-placeholder { display: none !important; } */
