[Unit]
Description=kmonad keyboard config topre

[Service]
Restart=always
RestartSec=3
ExecStart=/home/perok/.local/bin/kmonad %E/kmonad/topre-config.kbd
Nice=-20

[Install]
WantedBy=default.target
